        <div class="about-container" id="kuma-about">
            {{ $about := site.GetPage "/kuma-about" }}

            <div>
                <img src="{{ $about.Params.ko.image }}" alt="" />
            </div>

            <br />

            <div class="section-title">About</div>

            <div>
                <span data-lang="ko">
                    {{ $about.Params.ko.description | markdownify }}
                </span>

                <span data-lang="en">
                    {{ $about.Params.en.description | markdownify }}
                </span>
            </div>
            <br />
            <div class="subtitle">
                <span data-lang="ko">대표 소장품</span>
                <span data-lang="en">Collection Highlights</span>
            </div>
            {{ $collections := site.GetPage "/collections" }}

            <div class="collections-list">
                <div class="collections-grid">

                    <div data-lang="ko">
                        {{ range $collections.Params.ko.items }}
                        <div class="collections-item-container">
                            <div class="collections-item">
                                <div class="type">{{ .category }}</div>

                                <div class="title">
                                    {{ .artist }}, &lt;{{ .title }}&gt;, {{ .size }}
                                    <img
                                        class="collections-image"
                                        loading="lazy"
                                        src="{{ .image }}"
                                    />
                                </div>

                                <div class="date">{{ .year }}</div>
                            </div>
                        </div>
                        {{ end }}

                        <div class="collections-item-container">
                            <div class="collections-item">
                                <div class="type">...</div>
                                <div class="title">전체 소장품 목록 다운로드</div>
                            </div>
                        </div>
                    </div>

                    <div data-lang="en">
                        {{ range $collections.Params.en.items }}
                        <div class="collections-item-container">
                            <div class="collections-item">
                                <div class="type">{{ .category }}</div>

                                <div class="title">
                                    {{ .artist }}, &lt;{{ .title }}&gt;, {{ .size }}
                                    <img
                                        class="collections-image"
                                        loading="lazy"
                                        src="{{ .image }}"
                                    />
                                </div>

                                <div class="date">{{ .year }}</div>
                            </div>
                        </div>
                        {{ end }}

                        <div class="collections-item-container">
                            <div class="collections-item">
                                <div class="type">...</div>
                                <div class="title">Download Full Collection List</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br />
            <div class="subtitle">
                <span data-lang="ko">KUMA 운영위원회</span>
                <span data-lang="en">KUMA Committee</span>
            </div>            <div class="committee-list">
                <div class="committee-grid">

                    <div data-lang="ko">
                        {{ with site.GetPage "/committee" }}
                            {{ range .Params.ko.items }}
                            <div class="committee-item-container">
                                <div class="committee-item">
                                    <div class="role">{{ .role }}</div>
                                    <div class="name">{{ .name }}</div>
                                    <div class="affiliation">{{ .affiliation }}</div>
                                </div>
                            </div>
                            {{ end }}
                        {{ end }}
                    </div>

                    <div data-lang="en">
                        {{ with site.GetPage "/committee" }}
                            {{ range .Params.en.items }}
                            <div class="committee-item-container">
                                <div class="committee-item">
                                    <div class="role">{{ .role }}</div>
                                    <div class="name">{{ .name }}</div>
                                    <div class="affiliation">{{ .affiliation }}</div>
                                </div>
                            </div>
                            {{ end }}
                        {{ end }}
                    </div>

                </div>
            </div>
        </div>
