<div class="resources-container" id="kuma-resources">
    <div class="section-title">Resources</div>

    {{ $resources := site.GetPage "/resources" }}

    <div class="resources-list">
        <div class="resources-head">
            <div class="type">Type</div>
            <div class="title">Title</div>
        </div>
        <div class="resources-grid">
            <div data-lang="ko">
                {{ range $resources.Params.ko.items }}
                <div class="resources-item-container">
                    <div class="resources-item">
                        <div class="type">{{ .type }}</div>
                        <div class="title">
                            <a  href="{{ .link }}"
                                onclick="
                                    let w = window.innerWidth * 0.5;
                                    let h = window.innerHeight * 0.8;
                                    window.open(
                                        this.href,
                                        'pdfwindow',
                                        `width=${w},height=${h}`,
                                    );
                                    return false;">
                                {{ .title }}
                            </a>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
            <div data-lang="en">
                {{ range $resources.Params.en.items }}
                <div class="resources-item-container">
                    <div class="resources-item">
                        <div class="type">{{ .type }}</div>
                        <div class="title">
                            <a href="{{ .link }}"
                                onclick="
                                    let w = window.innerWidth * 0.5;
                                    let h = window.innerHeight * 0.8;
                                    window.open(
                                        this.href,
                                        'pdfwindow',
                                        `width=${w},height=${h}`,
                                    );
                                    return false;">
                                {{ .title }}
                            </a>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
